art==6.2
beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
idna==3.7
inquirerpy==0.3.4
pfzy==0.3.4
prompt_toolkit==3.0.46
pyobjc-core==10.3
pyobjc-framework-Cocoa==10.3
requests==2.32.3
SkPy==0.10.7
soupsieve==2.5
urllib3==2.2.1
wcwidth==0.2.13
win11toast==0.34

